#sidebar_open_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  width: 80px;
  height: 30px;
  left: 10px;
  top: 10px;
  z-index: 1100;
  background-color: white;
  border-radius: 5px;
  border: solid 2px rgb(80, 80, 80);
  cursor: pointer;
}